:root {
  --btn-primary-color: #ff6699;
  --btn-secondary-color: #f9d245;
}

.AudioPlayer {
  display: flex;
  justify-content: center;
}

audio::-webkit-media-controls-panel {
  background-color: #ede4a2;
  opacity: 60%;
}

audio::-webkit-media-controls-mute-button {
  background-color: white;
  border-radius: 50%;
}

audio::-webkit-media-controls-play-button {
  background-color: white;
  border-radius: 50%;
}

