:root {
  --accent-color: #ffdd7d;
}

.Weather {
  border: 1px solid #b9b9d1;
  color: white;
  border-radius: 16px;
  box-shadow: 9px 9px 5px #b9b9d1;
  max-width: 900px;
  margin: 0 auto;
  padding: 40px;
  background-image: url(/public/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Abril Fatface", cursive;
}

.Weather .greeting {
  font-family: "Zen Loop", cursive;
  font-size: 60px;
}

.WeatherInfo {
  text-align: left;
}

.WeatherInfo h1 {
  color: var(--accent-color);
  font-size: 45px;
  font-weight: 600;
  font-family: "Abril Fatface", cursive;
}

.WeatherInfo ul {
  text-align: left;
  padding: 0;
}

.WeatherInfo li {
  list-style: none;
  text-transform: capitalize;
}

.WeatherInfo .windUnit {
  text-transform: lowercase;
}

.searchForm {
  padding-top: 20px;
}

.searchForm input:focus {
  outline-color: #02618c;
}

.searchForm input::placeholder {
  color: var(--accent-color) !important;
}

hr {
  margin-top: 0;
  color: var(--accent-color) !important;
}

.searchForm .btn {
  border: 1px solid white !important;
  display: block;
  background-color: #ffffff;
  padding: 10px 0;
  font-weight: 700;
  font-size: 20px;
  color: #02618c;
  cursor: pointer;
  transition: 0.2s;
  margin: auto;
}

.searchForm .btn:hover {
  opacity: 95%;
  color: var(--accent-color);
  border-color: #b9b9d1 !important;
}

.temperatureContainer {
  text-align: right;
  font-weight: 700;
  font-size: 45px;
}

.cityInput {
  border: none;
  color: #02618c;
  padding: 10px 10px;
  margin: auto;
  font-size: 20px;
}

.weatherImage {
  position: relative;
  bottom: -40px;
  display: inline-block;
  margin-left: 55px;
}

.WeatherTemperature {
  font-size: 50px;
  font-weight: 500;
  position: relative;
  top: -57px;
  right: -170px;
  margin-left: 15px;
}

.WeatherTemperature .unit {
  font-size: 25px;
  font-weight: 400;
  position: relative;
  top: -16px;
  right: -10px;
}

.WeatherTemperature a {
  text-decoration: underline wavy var(--accent-color) 2px;
  color: var(--accent-color);
}

.WeatherTemperature a:hover {
  color: var(--accent-color);
  opacity: 70%;
}

.description {
  position: relative;
  right: -117px;
  top: -24px;
}

.audioNote {
  font-size: 24px;
  font-family: "Zen Loop", cursive;
  position: relative;
  top: 15px;
}

footer {
  color: black;
  font-weight: 500;
}

.githubLink {
  text-decoration: 2.5px underline dashed white;
  color: black;
}

.githubLink:hover {
  color: black;
  opacity: 75%;
}

.netlifyLink {
  text-decoration: 2.5px underline dashed white;
  color: black;
}

.netlifyLink:hover {
  color: black;
  opacity: 75%;
}

@media (max-width: 989px) {
  .Weather .greeting {
    font-size: 45px;
  }

  .WeatherInfo h1 {
    font-size: 30px;
  }

  .WeatherInfo li {
    font-size: 14px;
  }

  .description {
    position: static;
    text-align: left;
  }

  .weatherImage {
    margin-left: 40px;
    position: static;
  }

  .WeatherTemperature {
    font-size: 30px;
    margin-left: 35px;
    position: static;
  }

  .WeatherTemperature .unit {
    font-size: 13px;
    position: relative;
    right: -7px;
    color: black;
  }

  .WeatherTemperature a {
    text-decoration: underline wavy white 1.5px;
    color: white;
  }
}
